#user-div {
  width: 10%;
}

#txt-produto {
  font-size: 30px;
  color: var(--firstColor);
  font-weight: 500;
}

#user-name {
  font-size: 20px;
  color: var(--firstColor);
}

#user-ocupes {
  font-size: 15px;
  color: var(--firstColor);
  font-weight: 300;
}