@media screen and (max-width: 415px) {
  #tabela-responsiva thead tr th {
    font-size: 13px;
  }
}

.table-custom th {
  background-color: var(--bs-table-th-bg);
  color: var(--bs-table-th-color);
}

/* Estilo para as células (td) */
.table-custom td {
  background-color: var(--bs-table-td-bg);
  color: var(--bs-table-td-color);
}