@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: "Poppins", serif;
}

:root {
  /* font-family: "Ubuntu", serif; */
  
  background-color: #F3F3F3;

  --fontSty: "Poppins", serif;

  --firstColor: #363F4E;
  --firstColorDark: #c46d26;
  --secondColor: #1b1c22;
  --thirdColor: #ececec;
  --secondColorLight: #333438;


  .table-custom {
    --bs-table-bg: #F3F3F3; /* Cor de fundo */
    --bs-table-accent-bg: #F3F3F3; /* Fundo para as linhas destacadas */
    --bs-table-hover-bg: #e0e0e0; /* Cor de fundo ao passar o mouse */
    --bs-table-border-color: #dee2e6; /* Cor das bordas */
    --bs-table-striped-bg: #f1f3f5; /* Fundo para linhas alternadas */
    --bs-table-striped-color: #363F4E; /* Cor do texto nas linhas alternadas */
    --bs-table-active-bg: #cce5ff; /* Fundo para linha ativa */
    --bs-table-active-color: #363F4E; /* Cor do texto para linha ativa */
    --bs-table-hover-color: #363F4E; /* Cor do texto ao passar o mouse */
    
    --bs-table-th-bg: #343a40; /* Fundo dos cabeçalhos */
    --bs-table-th-color: #363F4E; /* Cor do texto dos cabeçalhos */
    --bs-table-td-bg: #ffffff; /* Fundo das células */
    --bs-table-td-color: #363F4E; 
  }

}
